<div class="container-xxl py-5  hero-header mb-5" style="background-color:#3a1920;">
    <div class="container my-5 py-5">
        <div class="row align-items-center g-5">
            <div class="col-lg-6 text-center text-lg-end overflow-hidden">
                <img class="img-fluid" src="/assets/img/codee1.png" alt="img">
            </div>
            <div class="col-lg-6 text-center text-lg-start">
                <h1 class="display-3 text-white animated slideInLeft">Coding Education</h1>
                <p class="text-white animated slideInLeft mb-4 pb-2">At GLOBALTECH we believe in the transformative power of education. Our mission is to provide equitable access to quality education for all, regardless of socioeconomic background or geographic location. Through our various programs and initiatives, we strive to empower individuals and communities
                    to reach their full potential. Here’s how we’re making a difference.</p>
                <a href="programs.html" class="btn btn-primary py-sm-3 px-sm-5 me-3 animated slideInLeft">Explore</a>
            </div>
        </div>
    </div>
</div>