<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
            aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="assets/img/carousel-1.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                <h6 class="text-white mb-1 animated slideInDown">Empowering Communities Through Innovation & Technology
                </h6>
                <h1 class="display-3 text-white animated slideInDown mb-4">Join Us in Building a Brighter Tomorrow</h1>
                <p class="fs-2 fw-medium text-white mb-4 pb-2">At Global Technopower Foundation, we're dedicated to
                    bridging the digital divide and empowering marginalized communities through innovative projects like
                    'Coding on Wheels' and 'Women Empowerment'.</p>
                <div class="btn-container">
                    <a href="#" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Donate Now</a>
                    <a href="#" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Volunteer Today</a>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="assets/img/carousel-2.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                <h6 class="text-white mb-1 animated slideInDown">Bridging the Digital Divide</h6>
                <h1 class="display-3 text-white animated slideInDown mb-4">Empowering Through Technology</h1>
                <p class="fs-2 fw-medium text-white mb-4 pb-2">Explore our digital literacy programs designed to equip
                    learners with essential skills for the digital age. From coding boot camps to computer literacy
                    workshops, we're ensuring everyone has the tools they need to succeed in today's tech-driven world.
                </p>
                <div class="btn-container">
                    <a href="#" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Donate Now</a>
                    <a href="#" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Volunteer Today</a>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="assets/img/carousel-3.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                <h6 class="text-white mb-1 animated slideInDown">Join Our Mission to Make a Difference</h6>
                <h1 class="display-3 text-white animated slideInDown mb-4">Empowering Communities for a Brighter Future
                </h1>
                <p class="fs-2 fw-medium text-white mb-4 pb-2">Together, we can break barriers, challenge stereotypes,
                    and create a world where everyone has equal access to education, opportunities, and a better
                    tomorrow.</p>
                <div class="btn-container">
                    <a href="#" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Donate Now</a>
                    <a href="#" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Volunteer Today</a>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>