/* carousel.component.css */
.carousel-item img {
    width: 100%;
    height: auto;
    /* Ensures the image maintains aspect ratio */
    max-height: 600px;
    /* Adjust this value to your desired height */
}

.carousel-caption {
    background: none;
    /* Remove the overlay */
    padding: 20px;
    border-radius: 10px;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.slideInDown {
    animation-name: slideInDown;
}

.slideInLeft {
    animation-name: slideInLeft;
}

.slideInRight {
    animation-name: slideInRight;
}

@keyframes slideInDown {
    from {
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInLeft {
    from {
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slideInRight {
    from {
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }

    to {
        transform: translate3d(0, 0, 0);
    }
}