<!-- Carousel Start -->
<html>

<body>
    <div class="container-fluid p-0 pb-5">
        <div class="owl-carousel header-carousel position-relative">
            <div class="owl-carousel-item position-relative">
                <img class="img-fluid" src="../../../assets/img/carousel-1.jpg" alt="">
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
                    style="background: rgba(53, 53, 53, .7);">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12 col-lg-8 text-center">
                                <h6 class="text-white  mb-3 animated slideInDown">Empowering Communities Through
                                    Innovation & Technology</h6>
                                <h1 class="display-3 text-white animated slideInDown mb-4">Join Us in Building a
                                    Brighter Tomorrow</h1>
                                <p class="fs-5 fw-medium text-white mb-4 pb-2">At Global Technopower Foundation, we're
                                    dedicated to bridging the digital divide and empowering marginalized communities
                                    through innovative projects like 'Coding on Wheels' and 'Women Empowerment'.</p>
                                <a href="#" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Donate
                                    Now</a>
                                <a href="#" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Volunteer
                                    Today</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-carousel-item position-relative">
                <img class="img-fluid" src="../../../assets/img/carousel-2.jpg" alt="">
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
                    style="background: rgba(53, 53, 53, .7);">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12 col-lg-8 text-center">
                                <h6 class="text-white mb-3 animated slideInDown">Bridging the Digital Divide</h6>
                                <h1 class="display-3 text-white animated slideInDown mb-4">Empowering Through Technology
                                </h1>
                                <p class="fs-5 fw-medium text-white mb-4 pb-2">Explore our digital literacy programs
                                    designed to equip learners with essential skills for the digital age. From coding
                                    boot camps to computer literacy workshops, we're ensuring everyone has the tools
                                    they need to succeed in today's tech-driven world.</p>
                                <a href="#" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Donate
                                    Now</a>
                                <a href="#" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Volunteer
                                    Today</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-carousel-item position-relative">
                <img class="img-fluid" src="../../../assets/img/carousel-3.jpg" alt="">
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
                    style="background: rgba(53, 53, 53, .7);">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-12 col-lg-8 text-center">
                                <h6 class="text-white  mb-3 animated slideInDown">Join Our Mission to Make a Difference
                                </h6>
                                <h1 class="display-3 text-white animated slideInDown mb-4">Empowering Communities for a
                                    Brighter Future</h1>
                                <p class="fs-5 fw-medium text-white mb-4 pb-2">Together, we can break barriers,
                                    challenge stereotypes, and create a world where everyone has equal access to
                                    education, opportunities, and a better tomorrow.</p>
                                <a href="#" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Donate
                                    Now</a>
                                <a href="#" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Volunteer
                                    Today</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>

<!-- Carousel End -->