<!-- Testimonial Start -->
<!-- <div class="container-xxl py-5">
    <div class="container">
        <div class="section-title text-center">
            <h1 class="display-5 mb-5">Volunteer's</h1>
        </div>
        <div id="testimonialCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="3000">
            <div class="d-flex justify-content-between align-items-center">
                <button class="carousel-control-prev position-static" type="button"
                    data-bs-target="#testimonialCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <div class="carousel-inner flex-grow-1 mx-4">
                    <div class="carousel-item active">
                        <div class="testimonial-item text-center shadow-lg rounded shadow-custom">
                            <img class="img-fluid bg-light p-2 mx-auto mb-3" src="assets/img/volunteer.jpg"
                                style="width: 90px; height: 90px;">
                            <div class="testimonial-text text-center p-4">
                                <p>Clita clita tempor justo dolor ipsum amet kasd amet duo justo duo duo labore sed sed.
                                    Magna ut diam sit et amet stet eos sed clita erat magna elitr erat sit sit erat at
                                    rebum justo sea clita.</p>
                                <h5 class="mb-1">Jagrati Mehta</h5>
                                <span class="fst-italic">Profession</span>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonial-item text-center shadow-lg rounded shadow-custom">
                            <img class="img-fluid bg-light p-2 mx-auto mb-3" src="assets/img/testimonial-2.jpg"
                                style="width: 90px; height: 90px;">
                            <div class="testimonial-text text-center p-4">
                                <p>Clita clita tempor justo dolor ipsum amet kasd amet duo justo duo duo labore sed sed.
                                    Magna ut diam sit et amet stet eos sed clita erat magna elitr erat sit sit erat at
                                    rebum justo sea clita.</p>
                                <h5 class="mb-1">Vidhya KS</h5>
                                <span class="fst-italic">Profession</span>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonial-item text-center shadow-lg rounded shadow-custom">
                            <img class="img-fluid bg-light p-2 mx-auto mb-3" src="assets/img/testimonial-3.jpg"
                                style="width: 90px; height: 90px;">
                            <div class="testimonial-text text-center p-4">
                                <p>Clita clita tempor justo dolor ipsum amet kasd amet duo justo duo duo labore sed sed.
                                    Magna ut diam sit et amet stet eos sed clita erat magna elitr erat sit sit erat at
                                    rebum justo sea clita.</p>
                                <h5 class="mb-1">Kunjan</h5>
                                <span class="fst-italic">Profession</span>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonial-item text-center shadow-lg rounded shadow-custom">
                            <img class="img-fluid bg-light p-2 mx-auto mb-3" src="assets/img/volunteer.jpg"
                                style="width: 90px; height: 90px;">
                            <div class="testimonial-text text-center p-4">
                                <p>Clita clita tempor justo dolor ipsum amet kasd amet duo justo duo duo labore sed sed.
                                    Magna ut diam sit et amet stet eos sed clita erat magna elitr erat sit sit erat at
                                    rebum justo sea clita.</p>
                                <h5 class="mb-1">Jagrati Mehta</h5>
                                <span class="fst-italic">Profession</span>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonial-item text-center shadow-lg rounded shadow-custom">
                            <img class="img-fluid bg-light p-2 mx-auto mb-3" src="assets/img/volunteer.jpg"
                                style="width: 90px; height: 90px;">
                            <div class="testimonial-text text-center p-4">
                                <p>Clita clita tempor justo dolor ipsum amet kasd amet duo justo duo duo labore sed sed.
                                    Magna ut diam sit et amet stet eos sed clita erat magna elitr erat sit sit erat at
                                    rebum justo sea clita.</p>
                                <h5 class="mb-1">Jyoti</h5>
                                <span class="fst-italic">Profession</span>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="testimonial-item text-center shadow-lg rounded shadow-custom">
                            <img class="img-fluid bg-light p-2 mx-auto mb-3" src="assets/img/volunteer.jpg"
                                style="width: 90px; height: 90px;">
                            <div class="testimonial-text text-center p-4">
                                <p>Clita clita tempor justo dolor ipsum amet kasd amet duo justo duo duo labore sed sed.
                                    Magna ut diam sit et amet stet eos sed clita erat magna elitr erat sit sit erat at
                                    rebum justo sea clita.</p>
                                <h5 class="mb-1">Janvi Yadav</h5>
                                <span class="fst-italic">Profession</span>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-next position-static" type="button"
                    data-bs-target="#testimonialCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div> -->
<!-- Testimonial End -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="section-title text-center">
            <h1 class="display-5 mb-5">Volunteer's</h1>
        </div>
        <div class="d-flex justify-content-between align-items-center position-relative">
            <button class="nav-button prev-button" (click)="prev()">
                <span>&#9664;</span>
                <span class="visually-hidden">Previous</span>
            </button>
            <div class="testimonial-item text-center shadow-lg rounded shadow-custom flex-grow-1 mx-4"
                *ngFor="let testimonial of testimonials; let i = index" [ngClass]="{'active': i === currentIndex}">
                <img class="img-fluid bg-light p-2 mx-auto mb-3" [src]="testimonial.image"
                    style="width: 90px; height: 90px;">
                <div class="testimonial-text text-center p-4">
                    <p>{{ testimonial.text }}</p>
                    <h5 class="mb-1">{{ testimonial.name }}</h5>
                    <span class="fst-italic">{{ testimonial.profession }}</span>
                </div>
            </div>
            <button class="nav-button next-button" (click)="next()">
                <span>&#9654;</span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>