<div class="container-fluid">
    <div class="row">
        <nav class="col-3 sidebar bg-dark text-white fixed">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link text-white user-select-none">
                        Admin Dashbord</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" routerLink="/admin/gallary" data-content="profile">Gallary</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" routerLink="/admin/viewgallary" data-content="profile">View
                        Gallary</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" routerLink="/admin/adminusers" data-content="settings">Approve
                        User</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" routerLink="/admin/manageadmin" data-content="settings">Manage
                        Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" routerLink="/admin/adminallparticipant"
                        data-content="settings">Participants</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" routerLink="/" data-content="logout">Logout</a>
                </li>
            </ul>
        </nav>

    </div>
</div>