<div id="donationModal" class="modal" *ngIf="showModal">
    <div class="modal-content">
        <span class="close-button" (click)="closeModal()">&times;</span>
        <div class="mw-100">
            <h2 class="impact-title">BE PART OF THE SOCIAL IMPACT</h2>
            <hr>
            <p class="impact-text">Your donation will make a difference for each orphan and youth’s brighter future.</p>
            <div class="text-center">
                <img src="../../../assets/handdonation.png" alt="donation.jpeg">
            </div>
            <p class="impact-text">All donations are eligible for 50% tax exemption benefits under section 80G as we are
                registered as a non-profit organization.</p>
            <button class="btn btn-primary" routerLink="/donation">Donate</button>
        </div>
    </div>
</div>