<div class="container-xxl py-5  hero-header mb-5" style="background-color: rgb(70, 25, 47);">
    <div class="container my-5 py-5">
        <div class="row align-items-center g-5">
            <div class="col-lg-6 text-center text-lg-start">
                <h1 class="display-3 text-white animated slideInLeft">Coding Of Wheel</h1>
                <p class="text-white animated slideInLeft mb-4 pb-2">At GLOBTECh, we believe in the transformative power of technology and education. That's why we're proud to introduce "Code on Wheel" - a platform dedicated to teaching coding skills and fostering digital literacy among individuals of all ages and backgrounds.</p>
                <a href="/codingpage" class="btn btn-primary py-sm-3 px-sm-5 me-3 animated slideInLeft">Explore</a>
            </div>
            <div class="col-lg-6 text-center text-lg-end overflow-hidden">
                <img class="img-fluid" src="/assets/img/codee.png" alt="img">
            </div>
        </div>
    </div>
</div>

