.container-no-scrollbar {
    overflow: auto;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
}

.container-no-scrollbar::-webkit-scrollbar {
    display: none;
    /* WebKit */
}

/* Position the overlay and delete button properly */
.img-container {
    position: relative;
}

.img-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.card-body .delete-btn {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
}

.btn {
    background-color: transparent !important;
    outline: none !important;
    border: none !important;
}

img {
    width: 303px;
    height: 197px;
    object-fit: cover;
}


/* Increase the icon size */
.larger-icon {
    font-size: 24px;
    /* Adjust this value as needed */

}

/* Show the overlay and delete button on hover */
.card:hover .img-container .overlay {
    opacity: 1;
}

.card:hover .card-body .delete-btn {
    display: block;
}