

 <div class="container-fluid bg-light p-0">
    <div class="row gx-0 d-none d-lg-flex">
        <div class="col-lg-7 px-5 text-start">
            <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                <small class="fa fa-map-marker-alt text-primary me-2"></small>
                <small>Om Sai Niwas Building,Vichumbe,Navi Mumbai,Maharastra</small>
            </div>
        </div>
        <div class="col-lg-5 px-5 text-end">
            <div class="h-100 d-inline-flex align-items-center py-3 me-4">
                <small class="fa fa-phone-alt text-primary me-2"></small>
                <small>+91 72177680117</small>
            </div>
            <div class="h-100 d-inline-flex align-items-center">
                <a class="btn btn-sm-square bg-white text-primary me-1" routerLink="https://www.facebook.com/your_facebook_page"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-sm-square bg-white text-primary me-1" routerLink="globtechpowerfoundation&#64;gmail.com"><i class="fa fa-envelope"></i></a>
                <a class="btn btn-sm-square bg-white text-primary me-1" routerLink="https://www.linkedin.com/company/glob-techpower-foundation/"><i class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-sm-square bg-white text-primary me-0" routerLink="https://www.instagram.com/globtechpower?igsh=dHZ3cXR2cDBoNXZ2"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->



 <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0">
        <a href="index.html" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <img  src="assets/img/globtechLogo.png" alt="img"style="height: 70px; margin-left: 50px;  margin-right: 0px;">
         </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="/" class="nav-item nav-link active">Home</a>
                <div class="nav-item dropdown">
                    <a routerLink="/aboutmain" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">About</a>
                    <div class="dropdown-menu fade-up m-0">
                        <a href="/aboutmain" class="dropdown-item">Who We Are</a>
                        <a href="/vission" class="dropdown-item">Our Vision</a>
                        <a href="/mission" class="dropdown-item">Our Mission</a>
                        <a href="/value" class="dropdown-item">Our Values</a>
                        <a href="/approach" class="dropdown-item">Our Approach</a>
                        <a href="/team" class="dropdown-item">Team Members</a>
                        <a href="/advisory" class="dropdown-item">Adivsory Board</a>
                    </div>
                </div> 
                <div class="nav-item dropdown">
                    <a href="/program" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Our Programs</a>
                    <div class="dropdown-menu fade-up m-0">
                        <a href="/program" class="dropdown-item">Coding On Wheel</a>
                        <a href="/codingeducation" class="dropdown-item">Coding Education In School</a>
                        <a href="/womenempowerment" class="dropdown-item">Women Empowerment</a>
                        <a href="testimonial.html" class="dropdown-item">Livelihoods</a>
                    </div>
                </div> 
                <div class="nav-item dropdown">
                    <a href="/page" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Campaign</a>
                    <div class="dropdown-menu fade-up m-0">
                        <a href="/page" class="dropdown-item">Padho Bhi Padhaon Bhi</a>
                        <a href="quote.html" class="dropdown-item">Corporate Training for Social Causes</a>
                    </div>
                </div>   
                <div class="nav-item dropdown">
                    <a href="/mainresources" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Resources</a>
                    <div class="dropdown-menu fade-up m-0">
                        <a href="/mainresources" class="dropdown-item">Media</a>
                        <a href="quote.html" class="dropdown-item">Gallary</a>
                        <a href="team.html" class="dropdown-item">Annual Report</a>
                        <a href="testimonial.html" class="dropdown-item">Publication</a>
                    </div>
                </div>  
                <div class="nav-item dropdown">
                    <a href="/page" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Get Involved</a>
                    <div class="dropdown-menu fade-up m-0">
                        <a href="/page" class="dropdown-item">Support From Individuals</a>
                        <a href="quote.html" class="dropdown-item">Payroll Giving</a>
                        <a href="team.html" class="dropdown-item">Sponsorships</a>
                        <a href="testimonial.html" class="dropdown-item">Volunteer & Intership</a>
                        <a href="testimonial.html" class="dropdown-item">Career</a>
                    </div>
                </div>               
                <a href="/contact" class="nav-item nav-link">Contact</a>
            </div>
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle py-4 px-lg-5" type="button" id="enrollDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    Enroll
                </button>
                <ul class="dropdown-menu" aria-labelledby="enrollDropdown">
                    <li><a class="dropdown-item" href="/login">Login</a></li>
                    <li><a class="dropdown-item" href="/registration">Sign Up</a></li>
                </ul>
            </div>    
        </div>
    </nav>
    <!-- Navbar End -->




  