

 <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0">
        <a href="index.html" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <img  src="assets/img/globtechLogo.png" alt="img"style="height: 70px; margin-left: 50px;  margin-right: 0px;">
         </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="/" class="nav-item nav-link active">Home</a>
                <div class="nav-item dropdown">
                    <a  class="nav-link dropdown-toggle" data-bs-toggle="dropdown">About</a>
                    <div class="dropdown-menu fade-up m-0">
                        <a href="/aboutmain" class="dropdown-item">Full About Page</a>
                        <ol>
                       <li><a href="/whoweare" class="dropdown-item">Who We Are</a></li> 
                       <li><a href="/vission" class="dropdown-item">Our Vision</a></li> 
                       <li><a href="/mission" class="dropdown-item">Our Mission</a></li> 
                       <li><a href="/value" class="dropdown-item">Our Values</a></li> 
                       <li><a href="/approach" class="dropdown-item">Our Approach</a></li> 
                       <li><a href="/teammain" class="dropdown-item">Our Team Members</a></li> 
                       <ul>
                       <li><a href="/team" class="dropdown-item">Governing Board</a></li> 
                       <li><a href="/advisory" class="dropdown-item">Adivsory Board</a></li> 
                       </ul>
                    </ol>
                    </div>
                </div> 
                <div class="nav-item dropdown">
                    <a  class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Our Programs</a>
                    <div class="dropdown-menu fade-up m-0">
                        <a href="/program" class="dropdown-item">List Of Program</a>
                        <ol>
                       <li> <a href="/codingonwheel" class="dropdown-item">Coding On Wheels</a></li>
                       <li><a href="/codingeducation" class="dropdown-item">Coding Education In Government School</a></li>
                       <li><a href="/womenempowerment" class="dropdown-item">Women Empowerment</a></li>
                       <li><a href="testimonial.html" class="dropdown-item">Livelihoods</a></li>
                    </ol>
                    </div>
                </div> 
                <div class="nav-item dropdown">
                    <a  class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Campaign</a>
                    <div class="dropdown-menu fade-up m-0">
                        <a  href="/campaign" class="dropdown-item">List of Campaign</a>
                        <ol>
                       <li> <a href="/campaign1" class="dropdown-item"> Padho Bhi Padhaon Bhi</a></li>
                      <li> <a href="/campaign2" class="dropdown-item">Corporate Training for Social Causes</a></li>
                    </ol>
                    </div>
                </div>   
                <div class="nav-item dropdown">
                    <a  class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Resources</a>
                    <div class="dropdown-menu fade-up m-0">
                        <a href="/mainresources" class="dropdown-item">Resources List</a>
                        <ol>
                       <li><a href="/media" class="dropdown-item">Media</a></li> 
                       <li><a href="quote.html" class="dropdown-item">Gallary</a></li> 
                       <li><a href="team.html" class="dropdown-item">Annual Report</a></li> 
                       <li><a href="testimonial.html" class="dropdown-item">Publication</a></li> 
                    </ol>
                    </div>
                </div>  
                              
                <a href="/contact" class="nav-item nav-link">Contact</a>
           
            <div class="nav-item dropdown">
                <a href="" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">ENROLL</a>
                <div class="dropdown-menu fade-up m-0">
                    <a href="/login" class="dropdown-item">Login</a>
                    <a href="registration" class="dropdown-item">Sign-up</a>
                   
                </div>
            </div>   
        </div>  
        </div>
    </nav>
    <!-- Navbar End -->




  