<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0">
    <a routerLink="index.html" class="navbar-brand d-flex align-items-center px-4 px-lg-4">
        <img src="assets/img/globtechLogo.png" alt="img" style="height: 70px; margin-left: 50px;  margin-right: 0px;">
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a routerLink="/" class="nav-item nav-link active">Home</a>
            <div class="nav-item dropdown">
                <a routerLink="/aboutmain" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">About</a>
                <div class="dropdown-menu fade-up m-0">
                    <a routerLink="/aboutmain" class="dropdown-item">Who We Are</a>
                    <a routerLink="/vission" class="dropdown-item">Our Vision</a>
                    <a routerLink="/mission" class="dropdown-item">Our Mission</a>
                    <a routerLink="/value" class="dropdown-item">Our Values</a>
                    <a routerLink="/approach" class="dropdown-item">Our Approach</a>
                    <a routerLink="/team" class="dropdown-item">Team Members</a>
                    <a routerLink="/advisory" class="dropdown-item">Adivsory Board</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a routerLink="/program" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Our Programs</a>
                <div class="dropdown-menu fade-up m-0">
                    <a routerLink="/program" class="dropdown-item">Coding On Wheel</a>
                    <a routerLink="/codingeducation" class="dropdown-item">Coding Education In School</a>
                    <a routerLink="/womenempowerment" class="dropdown-item">Women Empowerment</a>
                    <a routerLink="testimonial.html" class="dropdown-item">Livelihoods</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a routerLink="/page" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Campaign</a>
                <div class="dropdown-menu fade-up m-0">
                    <a routerLink="/page" class="dropdown-item">Padho Bhi Padhaon Bhi</a>
                    <a routerLink="quote.html" class="dropdown-item">Corporate Training for Social Causes</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a routerLink="/mainresources" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Resources</a>
                <div class="dropdown-menu fade-up m-0">
                    <a routerLink="/shownews" class="dropdown-item">News</a>
                    <a routerLink="quote.html" class="dropdown-item">Gallary</a>
                    <a routerLink="team.html" class="dropdown-item">Annual Report</a>
                    <a routerLink="testimonial.html" class="dropdown-item">Publication</a>
                </div>
            </div>
            <div class="nav-item dropdown">
                <a routerLink="/page" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Get Involved</a>
                <div class="dropdown-menu fade-up m-0">
                    <a routerLink="/page" class="dropdown-item">Support From Individuals</a>
                    <a routerLink="quote.html" class="dropdown-item">Payroll Giving</a>
                    <a routerLink="team.html" class="dropdown-item">Sponsorships</a>
                    <a routerLink="testimonial.html" class="dropdown-item">Volunteer & Intership</a>
                    <a routerLink="testimonial.html" class="dropdown-item">Career</a>
                </div>
            </div>
            <a routerLink="/contact" class="nav-item nav-link">Contact</a>
            <a routerLink="/" class="nav-item nav-link" [hidden]="disable" (click)="openModel()">Notification<span
                    class="badge bg-primary m-1">1</span></a>
            <div class="nav-item dropdown">
                <a routerLink="/login" class="nav-link dropdown-toggle " data-bs-toggle="dropdown">Enroll Now</a>
                <div class="dropdown-menu fade-up m-0">
                    <a class="dropdown-item" routerLink="/login">Login</a>
                    <a class="dropdown-item" routerLink="/registration">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</nav>
<!-- Navbar End -->


<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Your Notifications</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeModel()"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="modal-body">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-text text-center">
                                Your Account is not Activated Please Wait Untill Admin Aprove it !
                            </p>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
            </div>

        </div>
    </div>
</div>