<div *ngIf="isLoading" class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div *ngIf="!isLoading">
    <table class="table table-striped table-bordered table-sm">
        <thead class="thead-dark">
            <tr>
                <th scope="col" colspan="4">Title</th>
                <th scope="col" colspan="4">Description</th>
                <th scope="col">Image</th>
                <th scope="col">Starting Date</th>
                <th scope="col">Ending Date</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <!-- <tr *ngFor="let proj of project"> -->
            <tr *ngFor="let proj of paginatedProjects">
                <td class="align-middle form-control-wrap" colspan="4">
                    <textarea cols="100" rows="5" class="form-control" [(ngModel)]="proj.title" [readonly]="!isEditable"
                        [ngClass]="{'form-control-plaintext': !isEditable}"></textarea>
                </td>
                <td class="align-middle form-control-wrap" colspan="4">
                    <textarea cols="100" rows="5" class="form-control" [(ngModel)]="proj.description"
                        [readonly]="!isEditable" [ngClass]="{'form-control-plaintext': !isEditable}"></textarea>
                </td>
                <td class="align-middle">
                    <img *ngIf="proj.projectImage" [src]="proj.projectImage.url" alt="Project Image"
                        class="img-thumbnail" style="max-width: 150px; height: auto; cursor: pointer;"
                        (click)="openModel(proj.projectImage.url)">
                </td>
                <td class="align-middle">
                    <input type="date" class="form-control" [(ngModel)]="proj.projectDetails.startingDate"
                        [readonly]="!isEditable" [ngClass]="{'form-control-plaintext': !isEditable}">
                </td>
                <td class="align-middle">
                    <input type="date" class="form-control" [(ngModel)]="proj.projectDetails.endingDate"
                        [readonly]="!isEditable" [ngClass]="{'form-control-plaintext': !isEditable}">
                </td>
                <td class="align-middle">
                    <button class="btn btn-primary btn-sm m-1" (click)="toggleEdit(proj)">
                        {{isEditable ? 'Save' : 'Update'}}
                    </button>
                    <button class="btn btn-danger btn-sm m-1" (click)="deleteProject(proj)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- <mat-paginator [length]="200" [pageSizeOptions]="[10, 50, 100]" aria-label="Select page">
</mat-paginator>
-->
    <mat-paginator [length]="project.length" [pageSize]="pageSize" (page)="onPaginateChange($event)">
    </mat-paginator>
</div>

<!-- <mat-paginator [length]="project.length" [pageSize]="3" [pageSizeOptions]="[3,5, 10, 25, 100]"
    (page)="onPaginateChange($event)" aria-label="Select page"></mat-paginator> -->

<div class="modal custom-modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeModel()"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <img [src]="modalImageUrl" alt="Image" class="img-fluid">
            </div>

            <!-- Modal footer -->
            <div class="modal-footer"></div>

        </div>
    </div>
</div>